.error-message {
  color: tomato;
}
.error .form-block__field {
  border: 1px solid tomato;
}

.button-item,
.form-block {
  display: none;
}

.non-visible {
  display: none;
}

.visible {
  display: block;
}